body {
    margin: 0;
    background-color: rgb(62, 62, 62);
    display: block; /* No floating content on sides */
}

.disableScroll {
    overflow: hidden; /*  Disable scrollbars */
}

.mouseHidden {
    cursor: none;
}